<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Advisor - TheDreamUni</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Background animation</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      </head>
      
      <body>
        <div class="text-container">
          <h1 class="texth1">Thedreamuni</h1>
        </div>
      </body>  
</head>
<body>
<div class="container">
    <div class="form-container">
        <h1 class="text-center">Get Personalized University Recommendations</h1>
        <form id="recommendationForm">
            <input type="hidden" id="userId" value="user123">
            <div class="form-step form-step-active">
                <div class="form-group">
                    <label for="studentName">Student Name:</label>
                    <input type="text" class="form-control" id="studentName" name="studentName" required>
                </div>
                <button type="button" class="btn btn-primary next-step" id="nextStep1">Next</button>
            </div>
            <div class="form-step">
                <div class="form-group">
                    <label for="highestEducation">Highest Education:</label>
                    <select class="form-control" id="highestEducation" name="highestEducation" required>
                        <option value="">Select an option</option>
                        <option value="Bachelors">Bachelors</option>
                        <option value="Masters">Masters</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="form-group" id="otherEducationGroup" style="display: none;">
                    <label for="otherEducation">Specify your highest education:</label>
                    <input type="text" class="form-control" id="otherEducation" name="otherEducation">
                </div>
                <div class="form-group" id="subjectGroup" style="display: none;">
                    <label for="subject">Subject:</label>
                    <input type="text" class="form-control" id="subject" name="subject">
                </div>
                <button type="button" class="btn btn-secondary prev-step" id="prevStep2">Previous</button>
                <button type="button" class="btn btn-primary next-step" id="nextStep2">Next</button>
            </div>
            <div class="form-step">
                <div class="form-group">
                    <label for="ieltsTaken">Have you taken the IELTS?</label>
                    <select class="form-control" id="ieltsTaken" name="ieltsTaken" required>
                        <option value="">Select an option</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div class="form-group" id="ieltsScoreGroup" style="display: none;">
                    <label for="ieltsScore">IELTS Score:</label>
                    <input type="number" step="0.1" class="form-control" id="ieltsScore" name="ieltsScore" min="1" max="9">
                </div>
                <button type="button" class="btn btn-secondary prev-step" id="prevStep3">Previous</button>
                <button type="button" class="btn btn-primary next-step" id="nextStep3">Next</button>
            </div>            
            <div class="form-step">
                <div class="form-group">
                    <label for="currentCountry">Currently Located Country:</label>
                    <select class="form-control" id="currentCountry" name="currentCountry" required>
                        <option value="">Select a country</option>
                        <!-- Options will be populated using AI -->
                    </select>
                </div>
                <button type="button" class="btn btn-secondary prev-step" id="prevStep4">Previous</button>
                <button type="button" class="btn btn-primary next-step" id="nextStep4">Next</button>
            </div>
            <div class="form-step">
                <div class="form-group">
                    <label for="targetCountry">Targeted Country:</label>
                    <select class="form-control" id="targetCountry" name="targetCountry" required>
                        <option value="">Select a country</option>
                        <option value="United States of America">United States of America</option>
                        <option value="Germany">Germany</option>
                        <option value="Canada">Canada</option>
                        <option value="Australia">Australia</option>
                        <option value="India">India</option>
                        <option value="notDecided">Not decided yet</option>
                    </select>
                </div>
                <button type="button" class="btn btn-secondary prev-step" id="prevStep5">Previous</button>
                <button type="button" class="btn btn-primary next-step" id="nextStep5">Next</button>
            </div>
            <div class="form-step">
                <div class="form-group">
                    <label for="studyPursue">What study do you want to pursue?</label>
                    <select class="form-control" id="studyPursue" name="studyPursue" required>
                        <option value="">Select an option</option>
                        <option value="Bachelors">Bachelors</option>
                        <option value="Masters">Masters</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group" id="otherStudyGroup" style="display: none;">
                    <label for="otherStudy">Specify the study:</label>
                    <input type="text" class="form-control" id="otherStudy" name="otherStudy">
                </div>
                <button type="button" class="btn btn-secondary prev-step" id="prevStep6">Previous</button>
                <button type="button" class="btn btn-primary next-step" id="nextStep6">Next</button>
            </div>
            <div class="form-step">
                <div class="form-group">
                    <label for="budget">Annual Budget for the Tuition Fees of Universities:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="currencySymbol">₹</span>
                        </div>
                        <input type="number" step="0.01" class="form-control" id="budget" name="budget" required>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary prev-step" id="prevStep7">Previous</button>
                <button type="submit" class="btn btn-primary" id="submitForm">Submit</button>
            </div>
        </form>
        <div class="loader" style="display:none;">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="chat-container">
        <div class="welcome-message">
            <h2>Welcome to TheDreamUni!</h2>
            <p>Type your questions below to get started.</p>
        </div>
        <div class="messages" id="messages"></div>
        <div class="input-group">
            <input type="text" id="userInput" class="form-control" placeholder="Type your message...">
            <button class="btn btn-primary" id="sendButton">&#10145;</button>
            <div class="loading-indicator" id="loadingIndicator" style="display: none;"></div>
        </div>
    </div>
</div>

<script>
    const recommendationForm = document.getElementById('recommendationForm');
    const formContainer = document.querySelector('.form-container');
    const chatContainer = document.querySelector('.chat-container');
    const messagesDiv = document.getElementById('messages');
    const userInput = document.getElementById('userInput');
    const sendButton = document.getElementById('sendButton');
    const loadingIndicator = document.getElementById('loadingIndicator');
    const userId = document.getElementById('userId').value;
    const loader = document.querySelector('.loader');
    const h1Element = document.querySelector('.texth1');

    const appendMessage = (message, className) => {
    const messageDiv = document.createElement('div');
    messageDiv.className = `message ${className}`;
    messageDiv.innerHTML = message;
    messagesDiv.appendChild(messageDiv);

    // Scroll to the newly added message
    messageDiv.scrollIntoView({ behavior: 'smooth', block: 'start' });
    }

    const toggleLoading = (show) => {
        loadingIndicator.style.display = show ? 'block' : 'none';
    }

    const removeEventListeners = (element) => {
        const newElement = element.cloneNode(true);
        element.parentNode.replaceChild(newElement, element);
        return newElement;
    }

    const toggleForm = (disable) => {
        const elements = recommendationForm.elements;
        for (let i = 0; i < elements.length; i++) {
            elements[i].disabled = disable;
        }
    }

    const currencyMapping = {
        "United States of America": "$",
        "Germany": "€",
        "Canada": "C$",
        "Australia": "A$",
        "India": "₹"
    }

    document.getElementById('targetCountry').addEventListener('change', function() {
        const currencySymbol = document.getElementById('currencySymbol');
        const selectedCountry = this.value;
        currencySymbol.innerText = currencyMapping[selectedCountry] || "₹";
    });

    recommendationForm.addEventListener('submit', (e) => {
        e.preventDefault();
        loader.style.display = 'block';
        toggleForm(true);

        const formData = {
            userId: userId,
            studentName: document.getElementById('studentName').value,
            highestEducation: document.getElementById('highestEducation').value,
            otherEducation: document.getElementById('otherEducation').value,
            subject: document.getElementById('subject').value,
            ieltsTaken: document.getElementById('ieltsTaken').value,
            ieltsScore: document.getElementById('ieltsScore').value,
            currentCountry: document.getElementById('currentCountry').value,
            targetCountry: document.getElementById('targetCountry').value,
            studyPursue: document.getElementById('studyPursue').value,
            otherStudy: document.getElementById('otherStudy').value,
            budget: document.getElementById('budget').value,
        };

        fetch('/recommend', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
        })
        .then(response => response.json())
        .then(data => {
            h1Element.style.marginTop = '15rem';
            loader.style.display = 'none';
            formContainer.style.display = 'none';
            chatContainer.style.display = 'flex';
            appendMessage(data.reply, 'bot-message');
            toggleForm(false);
        })
        .catch(error => {
            loader.style.display = 'none';
            appendMessage('Error: ' + error, 'bot-message');
            toggleForm(false);
        });
    });

    sendButton.addEventListener('click', () => {
        const message = userInput.value.trim();
        if (message) {
            appendMessage(message, 'user-message');
            toggleLoading(true);
            fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ userId: userId, message: message }),
            })
            .then(response => response.json())
            .then(data => {
                toggleLoading(false);
                appendMessage(data.reply, 'bot-message');
            })
            .catch(error => {
                toggleLoading(false);
                appendMessage('Error: ' + error, 'bot-message');
            });
            userInput.value = '';
        }
    });

    userInput.addEventListener('keypress', (e) => {
        if (e.key === 'Enter') {
            sendButton.click();
        }
    });

    document.getElementById('nextStep1').addEventListener('click', () => {
        if (document.getElementById('studentName').value.trim() !== "") {
            document.querySelector('.form-step-active').classList.remove('form-step-active');
            document.querySelectorAll('.form-step')[1].classList.add('form-step-active');
        } else {
            alert("Please fill in your name.");
        }
    });
    document.getElementById('prevStep2').addEventListener('click', () => {
        document.querySelector('.form-step-active').classList.remove('form-step-active');
        document.querySelectorAll('.form-step')[0].classList.add('form-step-active');
    });
    document.getElementById('nextStep2').addEventListener('click', () => {
        const highestEducation = document.getElementById('highestEducation').value;
        const otherEducation = document.getElementById('otherEducation').value.trim();
        const subject = document.getElementById('subject').value.trim();
        
        if (highestEducation === 'Others' && (otherEducation === "" || subject === "")) {
            alert("Please fill in your highest education and subject.");
            return;
        }
        
        if (highestEducation !== 'Others' && subject === "") {
            alert("Please fill in the subject.");
            return;
        }

        document.querySelector('.form-step-active').classList.remove('form-step-active');
        document.querySelectorAll('.form-step')[2].classList.add('form-step-active');
    });
    document.getElementById('prevStep3').addEventListener('click', () => {
        document.querySelector('.form-step-active').classList.remove('form-step-active');
        document.querySelectorAll('.form-step')[1].classList.add('form-step-active');
    });
    document.getElementById('ieltsTaken').addEventListener('change', function() {
        const ieltsScoreGroup = document.getElementById('ieltsScoreGroup');
        const ieltsScoreInput = document.getElementById('ieltsScore');
        if (this.value === "yes") {
            ieltsScoreGroup.style.display = 'block';
            ieltsScoreInput.required = true;
        } else {
            ieltsScoreGroup.style.display = 'none';
            ieltsScoreInput.required = false;
        }
    });
    document.getElementById('nextStep3').addEventListener('click', () => {
        const ieltsTaken = document.getElementById('ieltsTaken').value;
        const ieltsScore = document.getElementById('ieltsScore').value;
        
        if (ieltsTaken === "") {
            alert("Please select whether you have taken the IELTS.");
            return;
        }

        if (ieltsTaken === "yes" && ieltsScore === "") {
            alert("Please fill in your IELTS score.");
            return;
        }

        document.querySelector('.form-step-active').classList.remove('form-step-active');
        document.querySelectorAll('.form-step')[3].classList.add('form-step-active');
    });
    document.getElementById('prevStep4').addEventListener('click', () => {
        document.querySelector('.form-step-active').classList.remove('form-step-active');
        document.querySelectorAll('.form-step')[2].classList.add('form-step-active');
    });
    document.getElementById('nextStep4').addEventListener('click', () => {
        if (document.getElementById('currentCountry').value !== "") {
            document.querySelector('.form-step-active').classList.remove('form-step-active');
            document.querySelectorAll('.form-step')[4].classList.add('form-step-active');
        } else {
            alert("Please select your currently located country.");
        }
    });
    document.getElementById('prevStep5').addEventListener('click', () => {
        document.querySelector('.form-step-active').classList.remove('form-step-active');
        document.querySelectorAll('.form-step')[3].classList.add('form-step-active');
    });
    document.getElementById('nextStep5').addEventListener('click', () => {
        if (document.getElementById('targetCountry').value !== "") {
            document.querySelector('.form-step-active').classList.remove('form-step-active');
            document.querySelectorAll('.form-step')[5].classList.add('form-step-active');
        } else {
            alert("Please select a target country.");
        }
    });
    document.getElementById('prevStep6').addEventListener('click', () => {
        document.querySelector('.form-step-active').classList.remove('form-step-active');
        document.querySelectorAll('.form-step')[4].classList.add('form-step-active');
    });
    document.getElementById('nextStep6').addEventListener('click', () => {
        if (document.getElementById('studyPursue').value !== "") {
            document.querySelector('.form-step-active').classList.remove('form-step-active');
            document.querySelectorAll('.form-step')[6].classList.add('form-step-active');
        } else {
            alert("Please select a study type.");
        }
    });
    document.getElementById('prevStep7').addEventListener('click', () => {
        document.querySelector('.form-step-active').classList.remove('form-step-active');
        document.querySelectorAll('.form-step')[5].classList.add('form-step-active');
    });

    document.querySelectorAll('.form-step').forEach((step, index) => {
        step.addEventListener('keypress', (e) => {
            if (e.key === 'Enter') {
                e.preventDefault();
                const nextButton = step.querySelector('.next-step');
                if (nextButton) {
                    nextButton.click();
                }
            }
        });
    });

    document.getElementById('studyPursue').addEventListener('change', function () {
        const otherStudyGroup = document.getElementById('otherStudyGroup');
        if (this.value === 'Other') {
            otherStudyGroup.style.display = 'block';
            document.getElementById('otherStudy').required = true;
        } else {
            otherStudyGroup.style.display = 'none';
            document.getElementById('otherStudy').required = false;
        }
    });

    document.getElementById('highestEducation').addEventListener('change', function () {
        const otherEducationGroup = document.getElementById('otherEducationGroup');
        const subjectGroup = document.getElementById('subjectGroup');
        if (this.value === 'Others') {
            otherEducationGroup.style.display = 'block';
            document.getElementById('otherEducation').required = true;
        } else {
            otherEducationGroup.style.display = 'none';
            document.getElementById('otherEducation').required = false;
        }
        subjectGroup.style.display = 'block';
    });

    const fetchCurrentCountries = async () => {
        const response = await fetch('/get_countries'); // Assuming an endpoint that returns all available countries
        const countries = await response.json();
        const currentCountrySelect = document.getElementById('currentCountry');
        countries.forEach(country => {
            const option = document.createElement('option');
            option.value = country;
            option.text = country;
            currentCountrySelect.appendChild(option);
        });
    }

    fetchCurrentCountries();

    document.getElementById('targetCountry').addEventListener('change', function () {
        if (this.value === 'notDecided') {
            // Implement AI suggestion logic here
        }
    });
</script>
</body>
</html>
